
<!DOCTYPE html>
<html>
  <head>
    <title>pagina de gonzalo</title>
  </head>
  <body>
	   <form method="post" action="/logins">
      <p>
			<table width="200" border="1", style="border:solid">
				<tr>
					<td colspan="3" align="center">LOGIN DEMOSERVER</td>
				</tr>
				<tr>
					<td>USUARIO</td>
					<td>::</td>
					<td><input name="usuario"></input></td>
				</tr>
				<tr>
					<td>PASSWORD</td>
					<td>::</td>
					<td><input type="password", name="password"></input></td>
				</tr>
				<tr>
					<td colspan="3" align="center"><input class="button" type="submit" value="INGRESAR"></td>
				</tr>
			</table>
      </p>
  </body>
</html>