
<!DOCTYPE html>
<html>
  <head>
    <title>pagina principal</title>
  </head>
  <body>
    <h1>pagina principal</h1>
    <form method="post" action="/gonzalo">
      <p>
        <input name="gonzalo"></input>
        <input class="button" type="submit" value="enviar">
      </p>
    </form>
  </body>
</html>