<!DOCTYPE html>
<html>
	<head>
		<title>Principal</title>
	</head>
	<body>
		PAGINA PRINCIPAL DE RECARGAS
		<form method="post" action="/logins">
			<p>
			<table width="285" border="3">
				<tr>
					<td align="center">RECARGAR</td>
				</tr>
					<input name="usuario" value=<%=usuario%> readonly=”readonly” style="display:none"></input>
					<input name="password" value=<%=password%> readonly=”readonly” style="display:none"></input>
				<tr>
					<td align="center"><input class="button" type="submit" value="RECARGAR"></td>
				</tr>
			</table>
		  </p>
		</form>
			<form method="post" action="/preregistro">
			<p>
			<table width="285" border="3">
				<tr>
					<td align ="center">REGISTRO</td>
				</tr>
					<input name="usuario_m" value=<%=usuario%> readonly=”readonly” style="display:none"></input>
					<input name="password_m" value=<%=password%> readonly=”readonly” style="display:none"></input>
				<tr>
					<td align="center"><input class="button" type="submit" value="REGISTRAR"></td>
				</tr>
			</table>
		  </p>
		</form>
	</body>
  </html>